<?xml version="1.0" encoding="UTF-8"?>	<widget xmlns = "http://www.w3.org/ns/widgets"		xmlns:gap = "http://phonegap.com/ns/1.0"		id        = "com.example.hello"		versionCode="1.0"		version   = "0.0.1">		<name>HelloWorld2</name>		<description>A sample Apache Cordova application		</description>		<author href="http://cordova.io" email="dev@cordova.apache.org">Apache Cordova Team		</author>		<preference name="phonegap-version" value="3.6.3" />				<gap:platform name="android" />		<access origin="*" />	</widget>