<?xml version="1.0" encoding="UTF-8"?>	<widget xmlns = "http://www.w3.org/ns/widgets"		xmlns:gap = "http://phonegap.com/ns/1.0"		id        = "com.example.hello"		versionCode="1.0"		version   = "0.0.1">		<name>HelloWorld</name>		<description>			A sample Apache Cordova application				</description>		<author href="" email="milan.at.work@gmail.com">			Milan Zivkovic		</author>				<gap:platform name="android" />		<gap:plugin name="org.apache.cordova.geolocation" />		<gap:plugin name="nl.x-services.plugins.toast" />		<gap:plugin name="com.phonegap.plugins.facebookconnect">			<param name="APP_ID" value="660662054014489" />			<param name="APP_NAME" value="iGoGive" />		</gap:plugin>				<access origin="http://igogive.org" subdomains="true" />	</widget>